@import url(http://weloveiconfonts.com/api/?family=fontawesome); /* Linken for Icons */

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

a:link, a:visited{ /* Farge koder for navigator og a tags */
  color: #666;
  text-decoration: none;
}
a:hover{
  color: #af4900;
}

.fontawesome-home{
  color: #8e0050;
}
.fontawesome-file-alt{
  color: #8e0050;
}

.fontawesome-github-alt{
  color: #8e0050;
}

.fontawesome-angle-right{
  font-size: 45px;
  margin: 0px;
  float:left;
}

body, html{ /* Hele webpagen sin globale koder */
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "lato light", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}


header{
  text-align: center;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
  padding: 1.5vw;
  animation: 2.1s ease-out 0s inFromTop;
  -webkit-animation: 2.1s ease-out 0s inFromTop;
  -moz-animation: 2.1s ease-out 0s inFromTop;
  -o-animation: 2.1s ease-out 0s inFromTop;
}



.navigator{ /* navigator tekst */
  letter-spacing: 5px;
  margin: 5px;
  font-size: 25px;
  display: inline;
}
/* HOVER KODER */

.fontawesome-home:hover{
  animation: fader 1.2s;
  -webkit-animation: fader 1.2s;
  -moz-animation: fader 1.2s;
  -o-animation: fader 1.2s;
  color: #af4900;
}
.fontawesome-file-alt:hover{
  animation: fader 1.2s;
  -webkit-animation: fader 1.2s;
  -moz-animation: fader 1.2s;
  -o-animation: fader 1.2s;
  color: #af4900;
}

.fontawesome-github-alt:hover{
  animation: fader 1.2s;
  -webkit-animation: fader 1.2s;
  -moz-animation: fader 1.2s;
  -o-animation: fader 1.2s;
  color: #af4900;
}
.fontawesome-angle-right:hover{
  animation: fader 1.3s;
  -webkit-animation: fader 1.3s;
  -moz-animation: fader 1.3s;
  -o-animation: fader 1.3s;
  color: #af4900;
}
.fontawesome-angle-right:hover links{
  display: inline;
}

.p1, .p2, .p3, .p4, .p5{ /* bakgrunnsbilder på sidene og seksjonene*/
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  /* denne koden gjør at du kan scrolle mens bildene synkroniserer
  fixed = scrolling synkroniserer
  scroll = normal scrolling blir normal
  */
}

.p1{background-image: url("../img/bakgrunn.png");
min-height: 100%;}

.p2{background-image: url("../img/Morgen.png");
min-height: 400px;}

.p3{background-image: url("../img/aften.png");
min-height: 400px;}

.p4{background-image: url("../img/seastars.png");
min-height: 400px;}

.p5{background-image: url("../img/space2.png");
min-height: 400px;}

.p1{background-image: url("../img/bakgrunn.png");
min-height: 100%;}

.lesMer{
  background-color: white; /* Les mer knappene */
  border-radius: 15px;
  padding: 3px;
  font-size: 22px;
  text-align: center;
}

.lesMer:hover{
  background-color: #ddd;
  padding: 5px;
  font-size: 26px;
  transition: all 0.5s;
}

.section{
  text-align: center;
  padding: 100px 80px;

}

.section-light{
  background-color: #f4f4f4;
  color: #666;
  padding: 10px;

}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.ptext{
  position: absolute;
  top:50%;
  width: 100%;
  text-align: center;
  color:#000;
  font-size: 30px;
  letter-spacing: 9px;
  text-transform: uppercase;


}

.ptext .border{
  background-color: #111; /* STORE TEKSTEN PÅ BILDENE */
  color: #fff;
  padding: 20px;
  font-size: 2.6vw;

}

.ptext{
  background-color:transparent;} /* TEKST */


.footer{
  text-align: center;
  font-size: 21px;
}
.footer a{
  color: #af9400;
}

.punktum1{
  animation: loader 1.0s infinite;        /* ANIMASJONER FOR PUNKTUMER I INTRO */
  -moz-animation: loader 1.0s infinite;
  -webkit-animation: loader 1.0s infinite;
  -o-animation: loader 1.0s infinite;
}
.punktum2{
  animation: loader 0.9s infinite;
  -moz-animation: loader 0.9s infinite;
  -webkit-animation: loader 0.9s infinite;
  -o-animation: loader 0.9s infinite;
}

.punktum3{
  animation: loader 0.8s infinite;
  -moz-animation: loader 0.8s infinite;
  -webkit-animation: loader 0.8s infinite;
  -o-animation: loader 0.8s infinite;
}

/* Mye av "About design" koden*/
img{
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

#skisse1:hover{
  transform: scale(1.3);
  transition: all 1.0s ease-in-out;
  -webkit-transition: all 1.0s ease-in-out;
  -moz-transition: all 1.0s ease-in-out;
  -o-animation: all 1.0s ease-in-out;
}

#skisse2:hover{
  transform: scale(1.3);
  transition: all 1.0s ease-in-out;
  -webkit-transition: all 1.0s ease-in-out;
  -moz-transition: all 1.0s ease-in-out;
  -o-animation: all 1.0s ease-in-out;
}

table{                      /* TIMEPLAN FORSIDE*/
  flex-wrap: wrap;
  border: solid black;
  margin: 0 auto;
  border-radius: 5px;
}
td{border: solid #666;
border-radius: 5px;
}

#wiki{ /* fargene på linker i About Design page */
  color: blue;
}

#space{
  color:red;
}
#w3{
  color:orange;
}

#hoverHer{
  color: #af4900;
}

#frister{
  list-style: none;
}
li{
  display: none;
}
#frister:hover ul li{
  color: #8e0050;
  display: block;
}                   /* SLUTT KODE FOR TIMEPLAN */

#img1:hover, #img2:hover, #img3:hover{
  transform: scale(1.2);
}

#svg{
  padding: 2px;
  border: 1px solid black;
}

#star, #star2{
  animation: fader 0.2s infinite;
  -webkit-animation: fader 0.2s infinite;
  -moz-animation: fader 0.2s infinite;
  -o-animation: fader 0.2s infinite;
}
/* denne koden gjørsånn at mobil tlf og andre mediaer under 568px
ikke får scrolle effekten så siden blir mer responsiv*/
@media(max-width:568px){
  .p1, .p2, .p3, .p4, .p5{ background-attachment: scroll;}
}

@keyframes fader { /*Animasjon for nav */
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0.15;
  }
  30%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
70%{
  opacity: 0.7;
}
80%{
  opacity: 0.8;
}
  100%{
    opacity: 1.0;
  }
}

@keyframes loader {
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0.15;
  }

  30%{
    opacity: 0.3;
  }

  50%{
    opacity: 0.5;
  }

70%{
  opacity: 0.7;
}

80%{
  opacity: 0.8;
}
  100%{
    opacity: 1.0;

}
}

@keyframes inFromTop { /* drop down animasjon for nav */
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
